#features {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
  padding: 40px 80px 0;
}

#features h1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 6px;
  user-select: none;
}

.feature {
  cursor: default;
  width: 340px;
  transition: transform 0.2s ease-in-out;
}

.feature:hover {
  transform: translateX(2px) translateY(-2px) scale(1.02);
}

.feature_title {
  align-items: center;
  column-gap: 7px;
  display: flex;
}

.feature_title img {
  width: 24px;
}

.feature_title h2 {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.feature p {
  color: rgba(255, 255, 255, 0.85);
  margin-top: 8px;
  margin-left: 31px;
  font-size: 0.8em;
  letter-spacing: 0.3px;
  line-height: 18px;
}

#features > .feature {
  margin: 58px 0;
  margin-left: 28px;
}

#feature_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#feature_box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 285px;
}

#feature_box > img {
  width: 380px;
}
