#features {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
  padding: 40px 80px 0;
}

#features h1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 6px;
  user-select: none;
}

.feature {
  cursor: default;
  width: 340px;
  transition: transform 0.2s ease-in-out;
}

.feature:hover {
  transform: translateX(2px) translateY(-2px) scale(1.02);
}

.feature_title {
  align-items: center;
  column-gap: 7px;
  display: flex;
}

.feature_title img {
  width: 24px;
}

.feature_title h2 {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.feature p {
  color: rgba(255, 255, 255, 0.85);
  margin-top: 8px;
  margin-left: 31px;
  font-size: 0.8em;
  letter-spacing: 0.3px;
  line-height: 18px;
}

#features > .feature {
  margin: 58px 0;
  margin-left: 28px;
}

#feature_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#feature_box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 285px;
}

#feature_box > img {
  width: 380px;
}

@media only screen and (max-width: 1145px) {
  #features {
    padding: 40px 0;
    transform: scale(0.9);
  }

  #feature_box > img {
    width: 320px;
  }
}

@media only screen and (max-width: 990px) {
  #features {
    align-items: start;
  }

  #features h1 {
    font-size: 24px;
    text-align: center;
    width: 100%;
    word-spacing: 3px;
  }

  .feature {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .feature_title img {
    width: 28px;
  }

  .feature_title h2 {
    font-size: 1.2em;
  }

  .feature p {
    font-size: 0.9em;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;
    max-width: 600px;
    margin-left: 0;
    margin-top: 12px;
  }

  #features > .feature {
    margin: 45px 0;
  }

  #feature_box {
    flex-direction: column;
    row-gap: 45px;
    width: 100%;
  }

  #feature_box > img {
    display: none;
  }

  #feature_box > div {
    row-gap: 45px;
    height: fit-content;
  }
}
